
/* header {
  background-color: #5b7d87;
  color: #fef9ff;
  height: 100px;
  text-align: center;
  padding: 30px 10px 20px 10px;
} */

h2 {
  font-size: 16px;
  font-family: Arial;
  font-style: italic;
  color: blue;
}

#content {
  height: 280;
  width: 600;
  border: 2px solid blue;
  padding: 5px;
  background-color: #F0F0F0;
}