/* Your code goes here */
body {
  font-family: roboto, helvetica, sans-serif;
}

h1 {
  font-size: 16px;
  color: #444444;
  text-align: center;
}
.container {
  align-content: center;
  margin: 5px;
  font-size: 13px;
}

.offer {
  display: inline-block;
  width: 400px;
  margin: 4px;
  text-align: center;
  border: 1px solid #cccccc;
}

.offerTitle {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  background-color: #00b3b3;
  margin: none;
  padding: 15px;
}

.offerContents {
  padding: 20px;
  background-color: #fafafa;
}

th,
td {
  text-align: left;
  border-bottom: solid 1px #f1f1f1;
}
table {
  width: 100%;
  background-color: #ffffff;
  border-spacing: none;
}

th {
  font-size: 12px;
  font-weight: bold;
  color: #777777;
  padding: 10px;
  margin: none;
}

td {
  font-weight: lighter;
  color: #444444;
  padding: 20px 10px;
  margin: none;
}
.finalValue {
  font-weight: bold;
  color: #2222ff;
}